<template></template>

<script lang="ts">
import { Vue, Component, Watch } from "nuxt-property-decorator";
import {} from "bootstrap-vue";

import { globalNotificationsStore } from "@/store";

import { GlobalNotificationsInterface } from "@/types/GlobalNotification";

@Component({})
export default class GlobalNotifications extends Vue {
    public makeToast(append: boolean = true): void {
        this.$bvToast.toast(this.lastMessage.message, {
            title: this.lastMessage.tilte,
            autoHideDelay: 5000,
            appendToast: append,
            variant: this.lastMessage.type
        });
    }
    get lastMessage(): GlobalNotificationsInterface {
        return globalNotificationsStore.LAST_NOTIFICATION;
    }

    @Watch("lastMessage")
    onAddLastMessage(): void {
        this.makeToast();
    }
}
</script>

<style>
</style>