<template>
    <div id="app">
        <GlobalNotifications />
        <Nuxt />
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import GlobalNotifications from "@/components/layout/GlobalNotifications.vue"

@Component({
  components:{
    GlobalNotifications
  }
})
export default class Default extends Vue {
    
}
</script>


<style lang="scss">
</style>
