<template>
    <div class="main-page">
        <div class="main-page__filters-wrapper">
            <div class="main-page__filters-wrapper-inner">
                <SearchInput
                    v-model="filters.name"
                    @input="filters.page = 1"
                    placeholder="Поиск по имени"
                />
                <SidebarFilter
                    :filters="characterFilters"
                    v-model="filters"
                    @change="filters.page = 1"
                />
            </div>
        </div>
        <div class="main-page__table-wrapper">
            <b-overlay :show="!!loading" rounded="md">
                <CharactersTable
                    @check-favorite="checkFavorite"
                    :items="charactersList.results"
                    :busy="!!loading"
                />
            </b-overlay>
            <div
                v-if="charactersList.info.pages"
                v-show="!loading"
                class="main-page-table__pagination-wrapper"
            >
                <b-pagination
                    align="center"
                    class="main-page-table__pagination"
                    v-model="filters.page"
                    :total-rows="charactersList.info.count"
                    :per-page="perPage"
                    aria-controls="my-table"
                ></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
const favoritesStorageLabel = "favorite-characters-storage";

import { Vue, Component, Watch } from "nuxt-property-decorator";
// Store
import { globalNotificationsStore, rickAndMortyStore } from "@/store";
// Types
import { CharacterDto, InfoDto } from "@/Dto/CharacterDto";
import { FilterItemInterface } from "@/types/SidebarFilter";
import { GlobalNotificationsTypes } from "@/types/GlobalNotification";
// Components
import CharactersTable from "@/components/pages/mainPage/CharactersTable.vue";
import SidebarFilter from "@/components/pages/mainPage/SidebarFilter.vue";
import SearchInput from "@/components/pages/mainPage/SearchInput.vue";
// Data
import { characterFilters } from "@/config/filters/sidebarFilters";
// Helpers
import { buildQueryParams } from "@/helpers/urlBuilders";
import {
    getFromLocalStorage,
    setToLocalStorage,
} from "@/helpers/LocalStorageHelpers";

@Component({
    components: {
        CharactersTable,
        SidebarFilter,
        SearchInput,
    },
})
export default class MainPage extends Vue {
    fields: Array<{ key: string; label: string; class?: string }> = [
        {
            key: "image",
            label: "Изображение",
            class: "main-page-table__image-field main-page-table__field",
        },
        {
            key: "name",
            label: "Имя",
            class: "main-page-table__name-field main-page-table__field",
        },
        {
            key: "gender",
            label: "Пол",
            class: "main-page-table__gender-field main-page-table__field",
        },
        {
            key: "status",
            label: "Статус",
            class: "main-page-table__status-field main-page-table__field",
        },
        {
            key: "favorite",
            label: "В избранное",
            class: "main-page-table__favorite-field main-page-table__field",
        },
    ];
    filters: { [key: string]: string | number } = {
        page: 0,
        gender: "",
        status: "",
        name: "",
    };
    loading: number = 0;
    get characterFilters(): Array<FilterItemInterface> {
        return characterFilters;
    }
    // Список и данные о странице
    get charactersList(): { results: Array<CharacterDto>; info: InfoDto } {
        return rickAndMortyStore.CHARACTERS_LIST;
    }
    // количество страниц
    get perPage(): number {
        return Math.ceil(
            this.charactersList.info.count / this.charactersList.info.pages
        );
    }
    // смена страницы
    async updateData(): Promise<void> {
        ++this.loading;
        await rickAndMortyStore.LOAD_CHARACTERS_LIST(
            buildQueryParams(this.filters)
        );
        if (
            this.charactersList.info.pages < this.filters.page &&
            this.filters.page !== 1
        ) {
            this.filters.page = 1;
            this.updateData();
            --this.loading;
            return;
        }
        if (process.client)
            window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
        this.updatePageQuery();
        --this.loading;
    }
    // Составляем get параметры для браузера
    updatePageQuery(): void {
        let query: any = {};
        let filters: any = this.filters;
        for (let key in filters) {
            if (filters[key]) query[key] = filters[key];
        }

        query.page = query.page === 1 ? undefined : query.page;

        this.$router.push({
            query: query,
        });
    }
    // Парсим get параметры с браузера
    parsePageQuery(): void {
        let filters: any = this.filters;
        for (let key in filters) {
            filters[key] = this.$route.query[key] || "";
        }
        this.filters.page = +this.$route.query.page || 1;
    }
    // Добавляем / убираем из избранного
    checkFavorite(item: CharacterDto): void {
        rickAndMortyStore.CHECK_ITEM_FAVORITE(item);

        if (process.client) {
            const favorites = getFromLocalStorage(favoritesStorageLabel) || {};
            if (item.favorite) favorites[item.id] = item.id;
            else if (favorites[item.id]) delete favorites[item.id];
            setToLocalStorage(favoritesStorageLabel, favorites);
        }
        globalNotificationsStore.SHOW_NOTIFICATION({
            tilte: "Действие выполнено",
            message: `Персонаж ${item.name} ${
                item.favorite ? "добавлен в избранное" : "убран из избранных"
            }`,
            type: GlobalNotificationsTypes.success,
        });
    }
    // Добавлем статусы фаворитов из localStorage в Vuex
    addFavoritesToState(): void {
        const favorites = getFromLocalStorage(favoritesStorageLabel) || {};
        if (Object.keys(favorites).length) {
            this.charactersList.results.forEach((character) => {
                if (
                    (favorites[character.id] && !character.favorite) ||
                    (!favorites[character.id] && character.favorite)
                )
                    rickAndMortyStore.CHECK_ITEM_FAVORITE(character);
            });
        }
    }
    @Watch("filters", { deep: true })
    async onPageChanged() {
        if (this.filters.page) {
            await this.updateData();
            this.updatePageQuery();
            this.addFavoritesToState();
        }
    }
    fetch() {
        this.parsePageQuery();
    }
    created() {
        // слушаем localStorage для синхронизации
        if (process.client)
            window.addEventListener("storage", this.addFavoritesToState);
    }
    beforedestroy() {
        if (process.client)
            window.removeEventListener("storage", this.addFavoritesToState);
    }
}
</script>

<style lang="scss">
$image-size: 150px;

.main-page {
    display: grid;
    grid-template-columns: 300px 1fr;

    &__filters-wrapper {
        padding: 0 15px 0 25px;
        min-height: 80vmin;

        &-inner {
            position: sticky;
            top: 0;
        }
    }

    &__table-wrapper {
        padding: 0 25px 0 15px;
        min-height: 80vmin;
    }

    &-table {
        &__field {
            vertical-align: middle !important;
        }

        &__image-field {
            width: $image-size;
        }

        &__image {
            display: block;
            max-height: $image-size;
        }
    }
}

@media (max-width: 748px) {
    .main-page {
        display: block;

        &__filters-wrapper,
        &__table-wrapper {
            min-height: auto;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
</style>
