<template>
        <b-table
            class="characters-page-table"
            :fields="fields"
            striped
            :items="items"
            :responsive="true"
            :show-empty="items.length === 0 && !busy"
            :empty-text="'Нет записей для отображения'"
        >
            <template v-slot:cell(image)="row">
                <img
                    class="characters-page-table__image"
                    :src="row.item.image"
                    alt=""
                />
            </template>

            <template v-slot:cell(favorite)="row">
                <b-button
                    @click="$emit('check-favorite', row.item)"
                    :variant="row.item.favorite ? 'danger' : 'success'"
                >
                    {{ row.item.favorite ? "Убрать" : "Добавить" }}
                </b-button>
            </template>

            <template #table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner
                        variant="success"
                        class="align-middle"
                    ></b-spinner>
                </div>
            </template>
        </b-table>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

import { CharacterDto } from "@/Dto/CharacterDto";

@Component({})
export default class MainPage extends Vue {
    @Prop({ default: () => [] }) readonly items!: Array<CharacterDto>;
    @Prop({ default: false }) readonly busy!: boolean;

    fields: Array<{ key: string; label: string; class?: string }> = [
        {
            key: "image",
            label: "Изображение",
            class:
                "characters-page-table__image-field characters-page-table__field",
        },
        {
            key: "name",
            label: "Имя",
            class:
                "characters-page-table__name-field characters-page-table__field",
        },
        {
            key: "gender",
            label: "Пол",
            class:
                "characters-page-table__gender-field characters-page-table__field",
        },
        {
            key: "status",
            label: "Статус",
            class:
                "characters-page-table__status-field characters-page-table__field",
        },
        {
            key: "favorite",
            label: "В избранное",
            class:
                "characters-page-table__favorite-field characters-page-table__field",
        },
    ];
}
</script>

<style lang="scss">
$image-size: 100px;

.characters-page-table {
    &__field {
        vertical-align: middle !important;
    }

    &__image-field {
        width: $image-size;
    }

    &__image {
        display: block;
        max-height: $image-size;
    }
}
</style>
