<template>
    <div class="search-input">
        <div class="search-input__label">Поиск:</div>
        <b-form-input
            size="sm"
            class="mr-sm-2 mt-1"
            :placeholder="placeholder"
            v-model="text"
            @input="onInput()"
        ></b-form-input>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "nuxt-property-decorator";

import { debounce } from "lodash";

@Component({})
export default class SearchInput extends Vue {
    @Prop({ default: "" }) readonly value!: string;
    @Prop({ default: "" }) readonly placeholder!: string;
    @Prop({ default: 400 }) readonly frequency!: number;

    text: string = "";

    onInput() {
        this.debouncedInput(this);
    }

    debouncedInput: any = debounce((_this) => {
        console.log(_this.text);
        _this.$emit("input", _this.text);
    }, this.frequency);

    created() {
        this.text = this.value;
    }
    @Watch("value")
    onChaneValue() {
        this.text = this.value;
    }
}
</script>


<style lang="scss">
.search-input {
    padding: 10px 0 20px;
    display: grid;
    grid-template-columns: 55px 1fr;
    align-items: center;
}
</style>
