<template>
    <div class="sidebar-filter" v-if="filters.length">
        <b-card
            class="sidebar-filter-item"
            no-body
            v-for="(filter, i) of filters"
            :key="'sidebar-filter' + i"
        >
            <b-card-header  header-tag="header" class=" p-1">
                <b-button
                    block
                    v-b-toggle="'sidebar-filter' + i"
                    variant="success"
                    >{{ filter.title }}</b-button
                >
            </b-card-header>
            <b-collapse :id="'sidebar-filter' + i" :visible="true">
                <b-card>
                    <b-form-radio-group
                        v-model="value[filter.key]"
                        :options="getOptionsWithUnselect(filter)"
                        stacked
                        @change="$emit('change', value)"
                    ></b-form-radio-group>
                </b-card>
            </b-collapse>
        </b-card>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import {
    FilterItemInterface,
    FilterOptionInterface,
} from "@/types/SidebarFilter";

@Component({})
export default class SidebarFilter extends Vue {
    @Prop({ default: () => [] }) readonly filters!: Array<FilterItemInterface>;
    @Prop({ default: () => ({ gender: "", status: "" }) })
    readonly value!: any;

    getOptionsWithUnselect(
        filter: FilterItemInterface
    ): Array<FilterOptionInterface> {
        return [
            {
                value: "",
                text: "Не выбрано",
            },
            ...filter.options,
        ];
    }
}
</script>


<style lang="scss">
.sidebar-filter {
    &-item {
        margin-bottom: 10px;
    }
}
</style>
